.addButtonWrapper{
    .addButton{
        width: 10px;
        height: 10px;
        font-size: 10px;
        line-height: 10px;
        background-color: #777ee3;
        color: #fff;
        text-align: center;
        padding: 5px;
        border-radius: 5px;
        cursor: pointer;
    }
}
