.scheduleCard{
    width: 100%;
    .addButtonWrapper{
        .addButton{
            width: 10%;
            background-color: #777ee3;
            margin: 0 auto;
            color: #fff;
            text-align: center;
            padding: 5px;
            border-radius: 5px;
        }
    }
}